@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    min-height: 100vh;
    display: flex;
    justify-content:center;
    align-items: center;
    
}

#quadrado{
    display: flex;
    background-color: #171717;
    width: 800px;
    height: 520px;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
}
#logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 12px;
}

#logo img{
    height: 100px;
    align-items: center;
    justify-content: center;
}

#logo h3{
    color: white;
}

#logo p{
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top:10px ;
 
}
#infos{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
}

#infoNome{
    color: rgb(255, 255, 255);
    display: flex;
    height: 30px;
    width: 400px;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    background-color: #111114;
}
#infoData{
    color: rgb(255, 255, 255);
    display: flex;
    height: 30px;
    width: 400px;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    background-color: #111114;
}
#infoMail{
    color: rgb(255, 255, 255);
    display: flex;
    height: 30px;
    width: 400px;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    background-color: #111114;
}
#infoSenha{
    color: rgb(255, 255, 255);
    display: flex;
    height: 30px;
    width: 400px;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    background-color: #111114;
}
::placeholder{
    color: white;
}   

#btns{
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    width: 800px;
    align-items: center;
}
#btn{
    display: flex;
    padding: 10px;
    border: none;
    border-radius: 25px;
    width: 80px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
}
#btn:hover{
    background-color: rgb(76, 180, 76);
    transition: all 0.2s ease;
}


#btnVoltar{
    display: flex;
    padding: 10px;
    border: none;
    border-radius: 25px;
    width: 80px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
}
#btnVoltar:hover{
    background-color: rgb(180, 76, 76);
    transition: all 0.2s ease;
}
