@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #111114;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    
}

header {
    width: 100%;
    height: 68px;
    background-color: #171717;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    padding: 0 3%;
}

#logoNome {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
}

#logoNome img {
    margin-top: 5px;
}

#perfilMenu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-right: 20px;
}

#sunoco {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.sunocoText:hover {
    cursor: pointer;

}

#input {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111114; 
    border-radius: 30px;
    width: 22%;
    height: 35px;
}

#input input {

    border: none;
    outline: none;
    background: transparent;
    font-size: 1rem;
    width: 100%;
    padding-left: 2px;
    margin-left: 15px;
    color: white;
}

#input img {
    margin-right: 15px;
}

#btnBuscar {
    background-color: #111114 ;
    border: none;
    cursor: pointer;
}

#imagem {
    border-radius: 30px;
    display: block;
    max-width: 100%;
    height: auto;
}
#banner{
    width: 100%;
    height: auto; 
}
#banner img{
    width: 100%;
    display: block;
    height: auto;
    max-width: 100%;
}

main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#sobre{
    margin-top: 20px;
    width: 100%;
    height: 100vh;
    flex-direction: row;
    display: flex;
}

#sobre-console{
    width: 60%;
    height: 100%;
}
#sobre-console h1{
    color: white;
    margin: 20px;
}
#sobre-console p{
    color: white;
    justify-content: center;
    text-align: center;
    display: flex;
    margin-left: 12px;
    margin-right: 12px;
}





#sobre-criador{
    width: 40%;
    height: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}
#sobre-criador h1{
    color: white;
    margin: 20px;
}

#sobre-criador p{
    color: white;
    text-align: center;
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
}

footer {
    width: 100%;
    height: 80px;
    background-color: #171717;
}

#secoes {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;
}

#secoes a {
    color: white;
    text-decoration: none;
    outline: none;
}

#senai {
    width: 100%;
    height: 30px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#textosFinais {
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-color: #171717;
}