@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #111114;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

header {
  width: 100%;
  height: 68px;
  background-color: #171717;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(255, 255, 255);
  padding: 0 3%;
}

#logoNome {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
}

#logoNome img {
  margin-top: 5px;
}

#perfilMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-right: 20px;
}

#sunoco {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.sunocoText {
  color: white;
  text-decoration: none;
}
.sunocoText:hover {
  cursor: pointer;
  text-decoration: underline;
}
#input {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111114;
  border-radius: 30px;
  width: 22%;
  height: 35px;
}

#input input {
  border: none;
  outline: none;
  background: transparent;
  font-size: 1rem;
  width: 100%;
  padding-left: 2px;
  margin-left: 15px;
  color: white;
}

#generos {
  margin-top: 90px;
  color: white;
  margin-right: 7%;
}

#generos h1 {
  font-size: 36px;
  font-weight: 700;
  margin-left: 10%;
  padding: 40px;
}

#marcadores {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 40px;
  height: 230px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.06);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-bottom: 40px;
}

#btnFrente2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

#btnTras2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

#marcadores button {
  width: 55px;
  height: 55px;
  border-radius: 50px;
  border: none;
  background-color: #292929;
  cursor: pointer;
}

.carousel-viewport {
  overflow: hidden;
  width: 100%;
  margin: 80px;
}
.carousel-track {
  display: flex;
  gap: 24px;
  transition: all 0.2s ease;
  will-change: transform;
}
.slide {
  object-fit: cover;
  height: auto;
}
