@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #111114;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    
}

header {
    width: 100%;
    height: 68px;
    background-color: #171717;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    padding: 0 3%;
}

#logoNome {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
}

#logoNome img {
    margin-top: 5px;
}

#perfilMenu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-right: 20px;
}

#sunoco {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.sunocoText:hover {
    cursor: pointer;

}

#input {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111114; 
    border-radius: 30px;
    width: 22%;
    height: 35px;
}

#input input {

    border: none;
    outline: none;
    background: transparent;
    font-size: 1rem;
    width: 100%;
    padding-left: 2px;
    margin-left: 15px;
    color: white;
}

#input img {
    margin-right: 15px;
}

#jogosEmAlta{
    justify-content: start;
    display: flex;
    text-align: start;
    margin-left: 10%;
    margin-top: 40px;
}
.jogos{
    justify-content: center;
    display:flex;
    align-items: center;
    margin-top: 10px;
}
#ghost-of-tsushima-mini {
    width: 25%;
    margin: 50px;
}

#horizon-forbidden-west-mini {
    width: 25%;
    margin: 50px;
}

.jogos-2{
    justify-content: center;
    display:flex;
    align-items: center;
    margin-top: 10px;
}
#until-dawn-2-mini {
    width: 25%;
    margin: 50px;
}

#days-gone-mini {
    width: 25%;
    margin: 50px;
}

.jogos-3{
    justify-content: center;
    display:flex;
    align-items: center;
    margin-top: 10px;
}
#spider-man-2-mini {
    width: 25%;
    margin: 50px;
}

#detroit-become-human-mini {
    width: 25%;
    margin: 50px;
}

.jogos-4{
    justify-content: center;
    display:flex;
    align-items: center;
    margin-top: 10px;
}
#demon-souls-mini {
    width: 25%;
    margin: 50px;
}

#stellar-blade-mini {
    width: 25%;
    margin: 50px;
}
